body {
  background-image: url(2000px-Austria_Bundesadler.svg.png);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  background-position: right top;
  background-color: #000000;
}

title {
  style ="color:white";
}

h1 {
  color: #000000;
  margin-left: 20px;
  font-size: 40px;
  color: white;
}

li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

h2 {
  font-size: 20px;
}

div.a {
  text indent: 20px;
}
